
.card_side--front-2 {
    background-image: url(Yosemite.jpg);
}

.card_side--back-2 {
    
}


.card_side--front-3 {
    background-image: url(webster-3.jpg);
}

.card_side--back-3 {
    
}

.card_side--front-4 {
    background-image: url(webster-4.jpg);
}

.card_side--back-4 {
    
}

.card_side--front-5 {
    background-image: url(webster-5.jpg);
}

.card_side--back-5 {
    
}
.card_side--front-6 {
    background-image: url(webster-6.jpg);
}

.card_side--back-6 {
    
}

.card_side--front-7 {
    background-image: url(webster-7.jpg);
}

.card_side--back-7 {
    
}

.card_side--front-8 {
    background-image: url(webster-8.jpg);
}

.card_side--back-8 {
    
}

.card_side--front-9 {
    background-image: url(webster-9.jpg);
}

.card_side--back-9 {
    
}

.card_side--front-10 {
    background-image: url(webster-10.jpg);
}

.card_side--back-10 {
    
}
