
.btn,
.btn:link,
.btn:visited {
text-transform: uppercase;
text-decoration: none;
padding: 1.5rem 4rem;
display: inline-block ;
border-radius: 10rem;
transition: all .2s;
position: relative;
margin-top: 1rem;

} 
.btn:focus {
    outline: none;

}
.btn-white {
    background-color:$color-white;
    color: #777;
}
.btn-green {
    margin-bottom: 5rem;
    background-color:#2998ff;
    color: $color-white !important;
    transition: all .4s;

}
.btn-animated {
    animation: appearbottom 1s ease-out 1s;
    animation-fill-mode: forwards;
}
.btn-white:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0 10px 20px rgba($color-black 0.4);
}
.btn-green:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0 10px 20px rgba($color-black 0.4);
}

.btn-white:active {
    transform: translateY(-2);
    box-shadow: 0 0.5rem 1rem rgba($color-black 0.4);
    
}
.btn-green:active {
    transform: translateY(-2);
    box-shadow: 0 0.5rem 1rem rgba($color-black 0.4));
}
 .btn-white::after {
     content: "";
     display: inline-block;
     width: 100%;
     height: 100%;
     border-radius: 10rem;
     position: absolute;
     top: 0;
     left: 0;
     z-index: -1;
     background-color:$color-white;
     transition: all .4s;
     
 }
 .btn-green::after {
    background-color: $color-white;
    transition: all .4s;
}

 .btn-white:hover::after {
     transform: scale(1.5);
     opacity: 0;
  
 }
 
 .btn-green:hover::after {
    transform: scale(1.5);
    opacity: 0;
 
}
